@charset "UTF-8";
@font-face
{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

*
{
    font-family: 'open sans',arial,sans-serif;
}

nav
{
    position: fixed;
    left: 0px;
    right: 0px;
    height: 50px;
    line-height: 50px;
    
    background: #767676;
    z-index: 1;
}
nav > h1
{
    color: #FFF;
    font-size: 22px;
    font-weight: 100;
    text-shadow: 3px 3px 5px #999;
}


section
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    
    background: #f8f8f8;
}

.diary-date
{
    position: relative;
    float: right;
    display: block;
    width: 70px;
    height: 70px;
    background: #fff;
    
    overflow: hidden;
}

.diary-date .month
{
    font-size: 12px;
    background: #d0d0d0;
    color: #FFF;
}

.diary-date .date
{
    padding: 3px 0px;
    font-size: 18px;
    font-weight: bold;
}

.diary-date .end
{
    font-size: 12px;
    color: #606060;
}

.diary-date .week
{
    font-size: 12px;
    color: #d0d0d0;
}

.diary-container
{
    background: #FFF;
    border: 1px solid #EEE;
    border-bottom-width: 2px;
    
    padding: 8px 16px 16px 16px;
}

.diary-container h3
{
    font-size: 24px;
    font-weight: bold;
    color: #868686;
    
    margin-bottom: 12px;
}

.diary-container .content
{
    color: #969696;
}